{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-5 offset-md-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}